<div style="background-color: rgba(0, 0,0, 0.2); display: flex; flex-flow: row wrap">
    <div class="card m-2" *ngFor="let mercado of supermercados" style="min-width: 10rem; max-width: 14rem;">
        <img src={{mercado.superMarketMainImage}} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{mercado.superMarketName}}</h5>
            <p class="card-text">{{mercado.superMarketDescription}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
            {{mercado.superMarketLocation | FulladdressPipe}}
        </div>
    </div>
</div>