<div class=" container bg-white border">
    <form [formGroup]="supermercadoForm" (submit)="edit()">
        <div class="form-group">
            <label>Name
                <input type="text" class="form-control form-control-sm" formControlName="superMarketName"
                    placeholder="Market Name" required>
            </label>
        </div>

        <div class="form-group">
            <label>
                Description:
            </label>
            <textarea formControlName="superMarketDescription" class="form-control form-control-sm"
                placeholder="Market Description"></textarea>
        </div>

        <div class="form-group">
            <label>Contact:
                <input type="number" class="form-control form-control-sm" formControlName="superMarketPhone"
                    placeholder="Market Contact">
            </label>
        </div>

        <div class="form-group" formGroupName="superMarketLocation">
            <h3>Address</h3>
            <div>
                <label for="Street">Street</label>
                <input type="text" class="form-control form-control-sm" id="Street" formControlName="street"
                    placeholder="Address Street" required>
            </div>

            <div>
                <label for="Number">Number</label>
                <input type="number" class="form-control form-control-sm" id="Number" formControlName="number"
                    placeholder="Address Number" required style="width: 150px;">
            </div>

            <div>
                <label for="District">District</label>
                <input type="text" class="form-control form-control-sm" id="District" formControlName="district"
                    placeholder="District" required style="width: 150px;">
            </div>

            <div>
                <label for="city">City</label>
                <input type="text" class="form-control form-control-sm" id="city" formControlName="city"
                    placeholder="City" required style="width: 150px;">
            </div>

            <label for="state">State</label>
            <input type="text" class="form-control form-control-sm" id="state" formControlName="state"
                placeholder="State" required style="width: 150px;">

            <label for="country">Country</label>
            <input type="text" class="form-control form-control-sm" id="country" formControlName="country"
                placeholder="Country" required style="width: 150px;">

            <label for="zip">Zip</label>
            <input type="number" class="form-control form-control-sm" id="zip" formControlName="zip"
                placeholder="Zip Number" required style="width: 150px;">

        </div>

        <div class="row container" style="width: 100%;">
            <div class="container" style="display: inline-block; width: 50%;">
                <div class="mb-2">
                    <button type="button" (click)="mainImageInput.click()" class="btn btn-sm btn-primary">
                        <i class="align-middle"> Main Image</i>
                    </button>
                    <input #mainImageInput hidden type="file" (change)="onSelectFile('main',$event)" accept="image/*">
                </div>
                <div>
                    <img apDarkenOnHover (click)="removeImg('main', 0)"
                        style="display: inline-block; width: 50%; margin: 1px;" src={{mainImg}} class="card-img-top">
                </div>
            </div>

            <div class="container" style="display: inline-block; width: 50%;">
                <div class="mb-2">
                    <button type="button" (click)="additionalImagesInput.click()" class="btn btn-sm btn-primary">
                        <i class="align-middle"> Aditional Image</i>
                    </button>
                    <input #additionalImagesInput hidden name="files[]" type="file" accept="image/*"
                        (change)="onSelectFile('extra',$event)" multiple>
                </div>
                <div class="container" style="display: inline-block;">
                    <img class="m-1" apDarkenOnHover (click)="removeImg('extra',i)"
                        *ngFor="let extraImg of additionalImg;let i = index" style=" display:
                            inline-block; width: 25%; height: 25%;; margin: 1px;" src={{extraImg}}
                        class="card-img-top">
                </div>
            </div>
        </div>


        <div>
            <button class="btn btn-sm btn-success m-2" type="submit">Edit</button>
            <button [routerLink]="['']" class="btn btn-sm btn-danger m-2 " type="submit">Cancel</button>
        </div>

    </form>
    <!-- [disabled]="!supemercadoForm.valid" -->

</div>