<div style="background-color: rgba(0, 0,0, 0.0); display: flex; flex-flow: row wrap">
    <div class="card m-2" *ngFor="let mercado of supermercados" style="min-width: 14rem; max-width: 14rem; max-height: 28rem;">
        <img src={{mercado.superMarketMainImage}} class="card-img-top">
        <div class="scrollbar-deep-purple overflow-auto thin" style="white-space: nowrap;">
            <img style="display: inline-block; width: 25%; margin: 1px;" src={{mercado.superMarketMainImage}} *ngFor="let img of mercado.superMarketAdditionalImages" class="card-img-top">
        </div>
        <div class="card-body">
            <h5 class="card-title text-center">{{mercado.superMarketName}}</h5>
            <p class="card-text overflow-auto text-justify p-1 scrollbar-deep-purple square thin" style="font-size: 60%; max-height: 80px;">{{mercado.superMarketDescription}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted text-center" style="font-size: 60%;">
            {{mercado.superMarketLocation | FulladdressPipe}}
        </div>
    </div>
</div>