<ng-template #content let-modal>
    <div class="modal-body text-center align-middle" (click)="modal.close('Close click')">
        <img src={{modalImage}} style="max-height: 90vh; max-width: 70vw;">
    </div>
</ng-template>

<div class="m-2">
    <div class="custom-switch float-right">
        <label *ngIf="!view;" class="mr-5">Toogle to Details/Edit View</label>
        <label *ngIf="view;" class="mr-5">Toogle to Card View</label>
        <input #altView type="checkbox" class="custom-control-input" id="viewToggler" (change)="toogleView(altView)">
        <label class=" custom-control-label" for="viewToggler"></label>
    </div>
    <button [routerLink]="['/add-mercado']" class=" btn btn-sm btn-primary">Add</button>
</div>

<div *ngIf="!view;else tableView" style="background-color: rgba(0, 0,0, 0.0); display: flex; flex-flow: row wrap">
    <div appFlyToLocation nameRef={{mercado._id}} class="card m-2 shadow text-center"
        *ngFor="let mercado of supermercados" style="max-width:18rem; min-width: 10rem;">

        <h5 class="card-header">{{mercado.superMarketName}}</h5>
        <div class="text-center">
            <img *ngIf="mercado.superMarketMainImage" src={{mercado.superMarketMainImage}} class="card-img-top pt-1"
                style="max-width: 16rem; max-height:10rem"
                (click)="openVerticallyCentered(content,mercado.superMarketMainImage)">
        </div>
        <div class=" align-middle">
            <div class="card-body">
                <p *ngIf="mercado.superMarketDescription; else desciptionElseBlock"
                    class="card-text overflow-auto text-justify p-1 scrollbar-deep-purple square thin"
                    style="background-color: rgba(0, 0,0, 0.00);font-size: 60%; max-height: 10rem;">
                    {{mercado.superMarketDescription}}</p>
            </div>
        </div>
    </div>
</div>




<ng-template #tableView>
    <div class="table-responsive">

        <table class="table table-hover shadow" style="font-size: 60%;">
            <thead class="text-center">
                <tr>
                    <th scope="col">Main Picture</th>
                    <th scope="col">Name</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Description</th>
                    <th scope="col">Address</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody *ngFor="let mercado of supermercados" appFlyToLocation nameRef={{mercado._id}}
                class="shadow-sm mb-3">

                <tr class="text-center">
                    <td>
                        <img *ngIf=" mercado.superMarketMainImage" src={{mercado.superMarketMainImage}}
                            style="max-width: 16rem; max-height: 10rem;"
                            (click)="openVerticallyCentered(content,mercado.superMarketMainImage)">
                    </td>
                    <td class="align-middle">
                        <h5>{{mercado.superMarketName}}</h5>
                    </td>
                    <td class="align-middle">{{mercado.superMarketPhone}}</td>
                    <td class="align-middle">
                        <p *ngIf="mercado.superMarketDescription; else desciptionElseBlock"
                            class="card-text overflow-auto  fy p-1 scrollbar-deep-purple square thin"
                            style="max-height: 10rem;min-width: 10rem;">
                            {{mercado.superMarketDescription}}</p>
                    </td>

                    <td class="align-middle">
                        <p class="card-text overflow-auto pr-3 scrollbar-deep-purple square thin" style="width: 10rem;">
                            {{mercado.superMarketLocation | FulladdressPipe}}</p>
                    </td>
                    <td class="align-middle">
                        <a [routerLink]="['/edit', mercado._id]" class="btn btn-sm btn-primary m-1 ">Edit</a>
                        <a (click)="selfRemove(mercado._id)" class="btn btn-sm btn-danger m-1 float-right">Remove</a>

                    </td>
                </tr>
                <tr>
                    <td colspan="6" *ngIf="mercado.superMarketAdditionalImages?.length>0"
                        class="scrollbar-deep-purple overflow-auto thin" style="white-space: nowrap;max-width: 50rem;">
                        <img apDarkenOnHover brightness="90%" style="display: inline-block; width: 50px; height: 50px;"
                            src={{img}} *ngFor="let img of mercado.superMarketAdditionalImages"
                            class="ml-1 mr-1 mb-1 rounded-circle" (click)="openVerticallyCentered(content,img)">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>